.row
    %h2 Estadísticas de #{@url.url}
    .col-md-12.container.jumbotron
        %h3 Usuarios totales cada dia
        = column_chart @hashdate
    .col-md-12.container.jumbotron
        %h3 Timeline       
        = area_chart @hashdate
    .col-md-12.container.jumbotron
        %h3 Usuarios diferentes por pais PieChart
        = pie_chart @hashcountry
    .col-md-12.container.jumbotron
        %h3 Usuarios diferentes por pais Geochart
        = geo_chart @hashcountry
    .col-md-12.container.jumbotron
        %h3 Ciudad       
        = pie_chart @hashcity
