.row
    %h2 Estadísticas de #{@url.url} - Visitas Totales #{@count}
    .col-md-12.container.jumbotron
        %h3 Usuarios totales cada dia ColumnChart.
        = column_chart @hashdate
    .col-md-12.container.jumbotron
        %h3 Usuarios totales cada dia AreaChart.
        = area_chart @hashdate , discrete: true
    .col-md-12.container.jumbotron
        %h3 Usuarios diferentes por pais PieChart.
        = pie_chart @hashcountry
    .col-md-12.container.jumbotron
        %h3 Usuarios diferentes por pais Geochart.
        = geo_chart @hashcountry
    .col-md-12.container.jumbotron
        %h3 Usuarios diferentes por ciudad.
        = pie_chart @hashcity
