.row
    .col-md-5.container

        %h1 Bienvenido #{@user}
        -if(@error)
            %h4.text-danger Ya hay un opcional con el mismo nombre

.row
    .col-md-4.container.jumbotron
        %h2 Acorta tu URL!!
        %form{:name => "input" , :action=>"/user/twitter" , :method=>"post"}
            %label{:for=>"url"} URL:
            %input.form-control#url{:type=>"text", :name=>"url" ,:placeholder=>"http://ejemplo.com"}
            %label{:for=>"opcional"} Nombre URL:
            %input.form-control#url{:type=>"text" ,:name=>"opcional" , :placeholder=> "(Opcional)"}
            %button.btn.btn-success{:type=>"submit"} Entrar
    .col-md-1
    .col-md-7.container.jumbotron
        %h2 Tus URLs
        %ul
            -@list2.each do |url|
                %li
                    #{url.url}
                    -if (url.opcional == '')
                        %a{:href=>"/#{url.id.to_s(Base)}"} (#{url.id.to_s(Base)})
                        %a.text-primary{:href=>"/estadisticas/#{url.id.to_s(Base)}"}
                            %img{:src=>"../icons/stats.png"}

                        %form{:name=> "input" , :action=>"/delete/twitterid/#{url.id.to_s(Base)}",:method=>"post"}
                            %button.btn.btn-danger{:type => "submit",:name=>"_method" , :value=>"delete"} Borrar

                    -else
                        %a{:href=>"/#{url.id.to_s(Base)}"} (#{url.opcional})
                        %a.text-primary{:href=>"/estadisticas/#{url.id.to_s(Base)}"}
                            %img{:src=>"../icons/stats.png"}
                        %form{:name=> "input" , :action=>"/delete/twitter/#{url.opcional}",:method=>"post"}
                            %button.btn.btn-danger{:type => "submit",:name=>"_method" , :value=>"delete"} Borrar

        %h2 Otras URLs
        %ul
            -@list.each do |url|
                %li
                    #{url.url}
                    %a{:href=>"/#{url.id.to_s(Base)}"} (#{url.id.to_s(Base)})
                    %a.text-primary{:href=>"/estadisticas/#{url.id.to_s(Base)}"}
                        %img{:src=>"../icons/stats.png"}

        %form{:name=> "input" , :action=>"/auth/google_oauth2",:method=>"get"}
            %button.btn.btn-danger{:type =>"submit"} Sign In With Google+
        %form{:name=> "input" , :action=>"/auth/facebook",:method=>"post"}
            %button.btn.btn-facebook{:type =>"submit"} Sign In With Facebook
        %form{:name=> "input" , :action=>"/user/twitter/logout",:method=>"get"}
            %button.btn.btn-warning{:type =>"submit"} Logout
    .col-md-1
